# Part 03 - Data Management

## Exercise 03 - Connect to a secured API

Now that you integrated with success your first Open API data, the goal of this section is to go further and use a secured API using Authentication token. Search for any exchange rates API and try to retrieve the exchanges rate data for EUR to USD, GBP, CNY and DKK. The solution of this exercise will use [api.freecurrencyapi.com](https://api.freecurrencyapi.com/).  

You can reuse the flow of the previous exercise, note that this time it will be a bit more difficult to build the request to get the data.

### Get the Data with a request

Search for any exchange rates API and try to retrieve the exchanges rate data for EUR to USD, GBP, CNY and DKK.

In [1]:
import requests
import os
import csv
import datetime

In [2]:
response = requests.get("https://api.freecurrencyapi.com/v1/latest?apikey=2UBrwysjq1W73D1EaesfqZAG6EhMbPfuw7F65cmO", headers={"Accept": "application/json"})
response.status_code

200

Get the JSON from the response

In [3]:
data = response.json()
data = data["data"]
data

{'AUD': 1.516464,
 'BGN': 1.85402,
 'BRL': 5.145905,
 'CAD': 1.379953,
 'CHF': 0.940921,
 'CNY': 6.951713,
 'CZK': 22.362642,
 'DKK': 7.054505,
 'EUR': 0.947912,
 'GBP': 0.843926,
 'HKD': 7.849662,
 'HUF': 358.630498,
 'IDR': 15462.015593,
 'ILS': 3.591735,
 'INR': 81.96491,
 'ISK': 142.090243,
 'JPY': 137.223738,
 'KRW': 1316.802524,
 'MXN': 17.977321,
 'MYR': 4.524505,
 'NOK': 10.676222,
 'NZD': 1.635632,
 'PHP': 55.40508,
 'PLN': 4.437957,
 'RON': 4.655607,
 'RUB': 76.050137,
 'SEK': 10.725466,
 'SGD': 1.353313,
 'THB': 35.077047,
 'TRY': 18.948836,
 'USD': 1,
 'ZAR': 18.575906}

### Save the results into variables

### Save those values in a CSV file

Create a CSV file, with the variable names as headers, and the values of those variable inserted in the first line. Save this file locally in the data folder named `data/today_EUR_rates.csv`

In [4]:
headers = ["time", *list(data.keys())]
rows = [{"time": datetime.datetime.now().isoformat(), **{key: float(value) for key, value in data.items()}}]

with open(r"data/today_EUR_rates.csv", mode="w", encoding="UTF8", newline="") as file:
    writer = csv.DictWriter(file, fieldnames=headers)
    writer.writeheader()
    writer.writerows(rows)

Test to read the result with the code below :

In [5]:
import pandas as pd

eur_rates = pd.read_csv("data/today_EUR_rates.csv")
eur_rates.head()

,time,AUD,BGN,BRL,CAD,CHF,CNY,CZK,DKK,EUR,...,PHP,PLN,RON,RUB,SEK,SGD,THB,TRY,USD,ZAR
0,2023-03-09T15:31:38.062630,1.516464,1.85402,5.145905,1.379953,0.940921,6.951713,22.362642,7.054505,0.947912,...,55.40508,4.437957,4.655607,76.050137,10.725466,1.353313,35.077047,18.948836,1.0,18.575906

### Append to code to the local CSV

Code the logic that will : 
- Create the `data/EUR_rates.csv` with the header if it doesn't exist
- Append our line of value to the current file

In [6]:
headers = ["time", *list(data.keys())]

with open(r"data/EUR_rates.csv", mode="a", encoding="UTF8", newline="") as file:
    writer = csv.DictWriter(file, fieldnames=headers)
    
    # Write the header if the file is empty
    file.seek(0, os.SEEK_END)
    if not file.tell():
        writer.writeheader()
    
    writer.writerow({"time": datetime.datetime.now().isoformat(), **{key: float(value) for key, value in data.items()}})

Run the whole notebook several time and check if your CSV file is appending the new line of data with the following command :

In [7]:
eur_rates = pd.read_csv(r"data/EUR_rates.csv")
eur_rates.head()

,time,AUD,BGN,BRL,CAD,CHF,CNY,CZK,DKK,EUR,...,PHP,PLN,RON,RUB,SEK,SGD,THB,TRY,USD,ZAR
0,2023-03-09T15:30:50.733364,1.516464,1.85402,5.145905,1.379953,0.940921,6.951713,22.362642,7.054505,0.947912,...,55.40508,4.437957,4.655607,76.050137,10.725466,1.353313,35.077047,18.948836,1.0,18.575906
1,2023-03-09T15:31:21.345061,1.516464,1.85402,5.145905,1.379953,0.940921,6.951713,22.362642,7.054505,0.947912,...,55.40508,4.437957,4.655607,76.050137,10.725466,1.353313,35.077047,18.948836,1.0,18.575906
2,2023-03-09T15:31:31.302330,1.516464,1.85402,5.145905,1.379953,0.940921,6.951713,22.362642,7.054505,0.947912,...,55.40508,4.437957,4.655607,76.050137,10.725466,1.353313,35.077047,18.948836,1.0,18.575906
3,2023-03-09T15:31:38.580779,1.516464,1.85402,5.145905,1.379953,0.940921,6.951713,22.362642,7.054505,0.947912,...,55.40508,4.437957,4.655607,76.050137,10.725466,1.353313,35.077047,18.948836,1.0,18.575906

### Wrapping up

Congratulations ! You are now able to build an history of EUR to USD / GBP / CNY / DKK data using a token based API. This code can be scheduled every day with Prefact to update your CSV file and to slowly be able to build a daily rates datasource.